.App {
  text-align: center;
  max-width: 2500px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.chart-container {
  display: flex;
}

.chart-container > div {
  display: block;
  width: 50%;
}

.radar-chart {
  position: sticky;
  top: 0;
  padding: 10px;
}

.chart-container .sliders {
  width: 50%;
}

.likertScale.layout--stacked {
  margin-bottom: 30px;
}

.likertLegend {
  font-weight: bold;
}

.likertResponse {
  cursor: pointer;
}

canvas {
  width: 100%;
  height: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
